@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  justify-items: start;
}

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

a,
.green {
  text-decoration: none;
  color: aliceblue;
  transition: 0.4s;
  padding: 3px;
  font-weight: bold;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  border: 1px solid hsl(200, 100%, 100%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: white;
  user-select: none;
}

.btn:is(:hover, :focus) {
  background-color: white;
  color: black;
}

.no-next-node {
  background-color: indianred;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

body {
  min-height: 100dvh;
  font-family: "JetBrains Mono", sans-serif;
  color: white;
  background-color: black;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
  color: white;
  background-color: black;
  padding: 0 20px;
}

header {
  gap: 100px;
}

img {
  width: 50%;
  height: auto;
}

@keyframes fadeInBlur {
  from {
      opacity: 0;
      filter: blur(10px);
      scale: 0.9;
  }
  to {
      opacity: 1;
      filter: blur(0);
      scale: 1;
    }
}

.fade-in-blur {
  animation: fadeInBlur 1.5s ease forwards;
}

label {
  text-align: start;
}

input, textarea {
    background-color: black;
    font-size: 16px;
    color: white;
    padding: 8px;
    border: 1px solid white;
    border-radius: 5px;
    width: 90%;
}

p {
  display: inline;
}

.cursor {
  display: inline;
  opacity: 1;
  background: white;
  border: 1px solid white;
  user-select: none;
}

.blink {
  animation: blink-animation 1s steps(1, end) infinite;
}

.nav-btn:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

.nav-btn {
  cursor: pointer;
  font-weight: bold;
}

@keyframes blink-animation {
  0%, 49.999%, 100% { opacity: 1; }
  50%, 99.999% { opacity: 0; }
}

/* Selection color */

/* Text selection color for modern browsers */
::selection {
  background-color: white; /* Example highlight color */
  color: #0a0a0a; /* Example text color */
}

/* Text selection color for Firefox */
::-moz-selection {
  background-color: white; /* Example highlight color */
  color: #0a0a0a; /* Example text color */
}

#boot-btn {
  opacity: 0.8;
}